.titleWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.headerWrapper {
    display: flex;
    justify-content: center;
}

@media (max-width: 688px) {
    .titleWrapper {
        padding: 0 1em;
    }
}
