.icons {
    margin-top: 1em;
    display: flex;
}

.icon {
    padding: 1em;
    display: flex;
    justify-content: center;
}

.title {
    margin-top: 2em;
    text-transform: uppercase;
    font-weight: 300;
}

@media (max-width: 600px) {
    .icons {
        max-width: 20rem;
        flex-wrap: wrap;
    }

    .icon {
        flex: 1 1 calc(100% / 3);
    }
}

@media (max-width: 450px) {
    .icon {
        padding: 1em .2em;
    }
}
