.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1em 2em;
}

.wrapper:not(:last-of-type) {
    border-right: .2em solid var(--background);
}

.title {
    font-size: 3rem;
    font-weight: 700;
    color: var(--text-primary);

    margin: 0;
}

.description {
    font-size: .9rem;
    font-weight: 300;
    color: var(--text-secondary);

    margin: 0;
}

@media (max-width: 688px) {
    .wrapper:not(:last-of-type) {
        border-bottom: .2em solid var(--background);
        border-right: none;
    }

    .wrapper {
        flex: 0 0 100%;
    }
}
