.wrapper {
    width: 100%;

    display: flex;
    flex-direction: column;

    background: var(--background-inset);
    padding: 1em;
    border-radius: .6em;

    box-shadow: 0 .2em .6em rgba(0, 0, 0, 0.4);
    transition: .2s;
}

.wrapper:hover {
    box-shadow: 0 .4em .8em rgba(0, 0, 0, 0.4);
}

.wrapper textarea {
    outline: none;
    cursor: text;
}
